{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- cart.html content starts here -->
<section class="py-5">
    <div class="container">
        {% if cart_items %}
        <div class="row">
            <div class="col-12">
                <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                <p class="mb-5 mt-3 text-center">
                    <strong>{{ cart_items|length }}</strong> items in your cart.
                </p>
            </div>
        </div>
        {% for item in cart_items %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12">
                <div class="card border rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-4 col-md-3">
                                <a href="{% url 'product-details' item.product.slug %}" aria-label="View products details">
                                    {% if item.product.image %}
                                        <img class="card-img-top" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'images/default_image.png' %}" alt="{{item.product.name}}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-12 col-sm-8 col-md-9">
                                <div class="row">
                                    <div class="col-12 col-md-6 mt-1">
                                        <h4>{{ item.product.name }}</h4>
                                        <h5>£{{ item.product.price }}</h5>
                                    </div>
                                    <div class="col-12 col-md-6 mt-3">
                                        <h6 class="text-center h5">Quantity</h6>
                                        <div class="row justify-content-center">
                                            <div class="col-10 col-sm-6 col-md-12 mt-2">
                                                <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                                    {% csrf_token %}
                                                    <div class="form-group form">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button class="decrement-qty rounded-start" 
                                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" aria-label="Decrement">
                                                                    <span>
                                                                        <i class="fas fa-minus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <input class="form-control qty_input border-primary" type="number" name="quantity" value="{{item.quantity}}" 
                                                                min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                            <div class="input-group-append">
                                                                <button class="increment-qty rounded-end"
                                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" aria-label="Increment">
                                                                    <span>
                                                                        <i class="fas fa-plus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-center">
                                                        <button type="submit" class="btn border-secondary mb-2" aria-label="Submit"><i class="fas fa-sync"></i></button>
                                                        <a href="{% url 'remove_from_cart' item.item_id %}" class="btn border-secondary mb-2" aria-label="Remove product from cart"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row mt-4 d-flex">
            <div class="col-6">
                <a href="{% url 'products' %}" class="fs-5" aria-label="View Products"><i class="fa-solid fa-left-long fa-lg" style="color: #ea5b96;"></i>  Continue Shopping</a>
            </div>
            <div class="col-6 text-end">
                <a href="{% url 'checkout' %}" class="pink-white-btn" aria-label="Go to checkout page">Checkout</a>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p class="display-5 mb-2 text-center h3">Shopping Cart</p>
            <p class="text-center">Your cart is empty.</p>
            <a href="{% url 'products' %}" aria-label="View Products"><i class="fa-solid fa-left-long fa-lg me-2" style="color: #ea5b96;"></i> Continue Shopping</a>
        </div>
        {% endif %}
    </div>
</section>
<hr>
<section>
    <div class="container">
        <p class="text-start h4">You may also like..</p>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-3">
            {% for product in products %}
                <div class="col mb-5 product-section">
                    <div class="card h-100">
                        <i class="fa-regular fa-heart fa-2xl p-4"></i>
                        <a href="{% url 'product-details' product.slug %}" aria-label="Product image">
                            {% if product.image %}
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="card-img-top" src="{% static 'images/default_image.png' %}" alt="{{product.name}}">
                            {% endif %}
                        </a>
                        <div class="p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                £{{ product.price }}
                            </div>
                        </div>
                        <div class="p-4 bg-light d-flex justify-content-center">
                            <a href="{% url 'product-details' product.slug %}" aria-label="Get more info about product" class="pink-white-btn btn">More Info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- cart.html content ends here -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}