{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- about.html content starts here -->
<header class="bg-pink py-2">
  <div class="container-xxl px-4 px-lg-5 my-5">
      <div class="text-center">
          <h2>Our Story</h2>
      </div>
  </div>
</header>

<div class="container-fluid">
    <div class="row">
       <div class="col-md-5">
         <section class="my-5 mx-5">
          <!--  <img class="img-fluid rounded mt-2" src="{% static 'images/bathbomb_purple.jpg' %}" alt="Our Story Image"> -->
         </section>
       </div>
       <div class="col-md-4 offset-md-1 mt-5 mb-5 card-ourstory">
         <section class="row">
           <div class="col-12">
             <section class="mt-3">
               <h4 class="px-3">Background</h3>
               <p class="p-3">We began with a simple observation: many commercially available bath bombs were packed with harsh chemicals, artificial ingredients, and tested on animals. We knew there had to be a better way to experience the joy of a bath bomb without compromising your health or values.
                This realization fueled our passion to create bath bombs that were not only effective but also ethically sourced and handcrafted with love.</p>
             </section>
           </div>
           <div class="col-12">
             <section class="mt-4">
               <h4 class="px-3">Vision</h3>
               <p class="p-3">We see a world where self-care and sustainability go hand-in-hand. Our mission is to craft luxurious bath bombs with simple, vegan-friendly ingredients that are never tested on animals. We use recyclable packaging and source ingredients responsibly, because bathtime shouldn't cost the Earth.</p>
             </section>
           </div>
         </section>
       </div>
    </div>
</div>
<!-- about.html content ends here -->
{% endblock %}