{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row my-5 mx-4">
            <div class="col-12 text-center">
                <h2 class="h1">How can we help you?</h2>
                <p class="lead fs-4 text-secondary">We hope you have found an answer to your question. If you need any more help, please contact us via email.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-5 mt-4">
            <div class="col-md-8 col-sm-12">
                <div class="accordion accordion-flush" id="accordionfaq">
                    <div class="accordion-item shadow-sm">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <strong>When will my order be deliverd?</strong>
                            </button>
                        </h3>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="accordionfaq">
                            <div class="accordion-body">
                                <p>Great news! Most of your orders will be delivered to you within 2-3 working days.</p>
                                <p>However, there are a few things to keep in mind:</p>
                                <ul>
                                    <li>For some special items, it may take up to 5 working days if they need to be sent from our distribution center first.</li>
                                    <li>Deliveries are made Monday to Friday, 9am to 6pm.</li>
                                    <li>Weekends (Saturday and Sunday) are not considered working days and won't be included in the delivery timeframe.</li>
                                </ul>
                                <p class="text-secondary">Think your order is late?</p>
                                <p class="text-secondary">No worries! If your order should have arrived by now and you haven't received it, just send an email to info@bombasticbaths.com and we'll be happy to look into it for you.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion accordion-flush mt-3" id="accordionfaqTwo">
                    <div class="accordion-item shadow-sm">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>How can I pay for my order?</strong>
                            </button>
                        </h3>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="accordionfaqTwo">
                            <div class="accordion-body">
                                <p>To order online you will need a VISA, VISA Debit, MasterCard or Maestro card. All payments are made in Euro.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion accordion-flush mt-3" id="accordionfaqThree">
                    <div class="accordion-item shadow-sm">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <strong>Are your products fragrance-free?</strong>
                            </button>
                        </h3>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="accordionfaqThree">
                            <div class="accordion-body">
                                <p>Most of our bath bombs have fragrance by simple ingridients such as essential oils. If you still are insecure you can order our bath bomb <a href="#">ZeroFragrance</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion accordion-flush mt-3" id="accordionfaqFour">
                    <div class="accordion-item shadow-sm">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <strong>Are your products vegan?</strong>
                            </button>
                        </h3>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="accordionfaqFour">
                            <div class="accordion-body">
                                <p>We're happy to say that yes, all of our products are 100% vegan-friendly! We understand the importance of 
                                    veganism to many of our customers, and we're committed to offering products that align with those values.
                                        We also don't test any of our products on animals.</p> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion accordion-flush mt-3" id="accordionfaqFive">
                    <div class="accordion-item shadow-sm">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <strong>How do I use a bath bomb?</strong>
                            </button>
                        </h3>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="accordionfaqFive">
                            <div class="accordion-body">
                                <ul>
                                    <li>Draw your bath: Fill the tub with warm water to your desired level.</li>
                                    <li>Pick your bomb: Bath bombs come in all sorts of scents and colors. Choose one that suits your mood, like jasmine for a luxurious feel, vanilla for a cozy vibe.</li>
                                    <li>Fizz it up! Gently place the bath bomb in the water. It will start to fizz and release its colors and scents.</li>
                                    <li>Relax and soak: Sit back and enjoy the transformation of your bathtub! Breathe in the lovely aromas and let the fizzing action take you away.</li>
                                </ul>
                                <p>Bonus tip: Want to add some fun? Let the bath bomb fizzle halfway through filling your tub and watch the colors swirl!</p>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</section>
{% endblock %}