{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- index.html content starts here -->
<header>
    <div class="d-flex justify-content-center">
        <img src="static/images/logotype.png" class="mb-3" alt="image">
    </div>

</header>

<section class="bg-light">
    <div class="container">
        <div class="row gx-3 gy-2">
            <div class="col-md-3 col-6">
                <p>HOMEMADE</p>
            </div>
            <div class="col-md-3 col-6">
                <p>SIMPLE INGRIDIENTS</p>
            </div>
            <div class="col-md-3 col-6">
               <p>VEGAN FRIENDLY</p> 
            </div>
            <div class="col-md-3 col-6">
                <p>AGAINST ANIMAL TESTING</p>
            </div>
        </div>
    </div>
</section>


<!-- index.html content ends here -->
{% endblock %}