{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- index.html content starts here -->
<header>
    <div id="carousel-header" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-header" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-header" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-header" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active hero">
                <div class="carousel-caption">
                    <h4>Your'e The Bomb!</h4>
                    <p class="fs-5">Get yourself a well deserved bath!</p>
                    <a href="{% url 'products' %}" aria-label="View products"><button class="pink-white-btn my-2" aria-label="View products">Shop Now</button></a>
                </div>
            </div>
            <div class="carousel-item hero2">
                <div class="carousel-caption">
                    <h4>Your Friends & Family Are The Bomb!</h4>
                    <p class="fs-5">Get them a gift they deserve!</p>
                    <a href="{% url 'products' %}?category=gifts" aria-label="View gifts"><button class="pink-white-btn my-2" aria-label="View gifts">Shop Gifts</button></a>
                </div>
            </div>
            <div class="carousel-item hero3">
                <div class="carousel-caption">
                    <h4>We Are The Bomb!</h4>
                    <p class="fs-5">Read more about us and our bathbombs!</p>
                    <a href="{% url 'ourstory' %}" aria-label="View about us page"><button class="pink-white-btn my-2" aria-label="View about page">About Us</button></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-header" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-header" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</header>

<section class="mt-3 section-visions">
    <div class="container">
        <a href="{% url 'ourstory' %}" aria-label="View about us page">
            <div class="row gx-3 gy-2">
                <div class="col-md-3 col-6">
                    <p>HOMEMADE</p>
                </div>
                <div class="col-md-3 col-6">
                    <p>SIMPLE INGRIDIENTS</p>
                </div>
                <div class="col-md-3 col-6">
                <p>VEGAN FRIENDLY</p> 
                </div>
                <div class="col-md-3 col-6">
                    <p>AGAINST ANIMAL TESTING</p>
                </div>
            </div>
        </a>
    </div>
</section>

<section>
    <h2 class="text-center mt-4">Featured Fizzers</h2>
    <div class="container">
        <div class="row my-4">
           <div class="col-md-4 mb-3">
            <a href="/products/flowerbomb-05ERQ7/" aria-label="View product">
                <img src="static/images/bathbomb_flower.jpg" class="img-fluid rounded shadow" alt="Image 1">
            </a>
           </div>
           <div class="col-md-4 mb-3">
            <a href="/products/watermelon-suger-TKXXSB/" aria-label="View product">
                <img src="static/images/bathbomb_watermelon.jpg" class="img-fluid rounded shadow" alt="Image 2">
            </a>
           </div>
           <div class="col-md-4 mb-3">
            <a href="/products/rainbow-flow-LDGMEG/" aria-label="View product">
                <img src="static/images/bathbomb_rainbow.jpg" class="img-fluid rounded shadow" alt="Image 3">
            </a>
           </div>
        </div>
    </div>       
</section>
<!-- index.html content ends here -->
{% endblock %}