{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- index.html content starts here -->
<header>
    <div class="bg-header">

    </div>
</header>

<section class="bg-light">
    <div class="container">
        <div class="row gx-3 gy-2">
            <div class="col-md-3 col-6">
                <p>HOMEMADE</p>
            </div>
            <div class="col-md-3 col-6">
                <p>SIMPLE INGRIDIENTS</p>
            </div>
            <div class="col-md-3 col-6">
               <p>VEGAN FRIENDLY</p> 
            </div>
            <div class="col-md-3 col-6">
                <p>AGAINST ANIMAL TESTING</p>
            </div>
        </div>
    </div>
</section>

<section>
    <h2 class="text-center mt-4">Featured Fizzers</h2>
    <div class="container">
        <div class="row my-4">
           <div class="col-md-4">
             <img src="static/images/bathbomb_flower.jpg" class="img-fluid rounded" alt="Image 1">
           </div>
           <div class="col-md-4">
             <img src="static/images/bathbomb_watermelon.jpg" class="img-fluid rounded" alt="Image 2">
           </div>
           <div class="col-md-4">
             <img src="static/images/bathbomb_rainbow.jpg" class="img-fluid rounded" alt="Image 3">
           </div>
        </div>
    </div>       
</section>


<!-- index.html content ends here -->
{% endblock %}