{% extends "base.html" %}
{% load static %}

{% block content %}
{% if wishlist %}
<h1>{{ wishlist.user.username }}'s Wishlist</h1>
<ul>
    {% for product in wishlist.products.all %}
        <li>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <a href="{% url 'remove_from_wishlist' product.id %}">Remove from Wishlist</a>
        </li>
    {% empty %}
        <li>Your wishlist is empty.</li>
    {% endfor %}
</ul>
{% else %}
<p>You do not have a wishlist.</p>
{% endif %}
{% endblock %}