footer, nav {
    background-color: rgb(175, 128, 219);
}

a {
    text-decoration:none !important;
}

.search-form {
    width: 50%;
}

.bg-header {
    background-color:rgb(253, 235, 245);
    width: 100%;
    height: 600px;
}

