/* Home page */

nav {
    background-color: rgb(242, 235, 250);
}

a i {
    text-decoration:none !important;
    color: black;
}

.logo {
    width: 165px;
    height: 65px;
    margin-left: 5px;
  }

.search-form {
    width: 50%;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.shopnow-btn {
    margin: 1px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4em;
    min-width: 148px;
    padding: 11px 39px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
    border-radius: 20px;
    border: 0;
    text-transform: none;
    letter-spacing: inherit;
    white-space: normal;
    box-shadow: 0 0 0 1px #ea5b96;
    background-color: #ea5b96;
    color: #fff;
    transition: background-color .25s, color .25s, box-shadow .25s;
}

.shopnow-btn:hover {
    background-color: white;
    color: #ea5b96;
  }

.section-visions {
    background-color: rgb(232, 243, 253);
  }
/* Our Story page */

.card-ourstory {
    background-color: rgb(255, 240, 248);
    border-radius: 5%;
}

/* Button for infinity scrolling */

.scroll-button {
    background-color: rgb(230, 236, 251);
    height: 45px;
    width: 45px;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.scroll-link {
    text-decoration: none;
}

/* Footer */

footer {
    background-color: rgb(229, 210, 249);
}