<!--Code from https://codepen.io/alexsparkes/pen/KKVjJwy to make the svg-->
<svg class="mt-auto" viewBox="0 -20 700 110" width="100%" height="100" preserveAspectRatio="none">
    <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#e5d2f9"/>
</svg>
<footer class="w-100">
    <div class="container py-4">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-md-6 p-4">
                <!-- Mailchimp signup form -->
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=d4c927f01504a88b1858dacc0&amp;id=be0fe04e2a&amp;f_id=006912e7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <h2 class="mb-3">Join our newsletter for exclusive deals!</h2>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                <input type="text" name="b_d4c927f01504a88b1858dacc0_be0fe04e2a" tabindex="-1" value="">
                            </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iOXkes" title="Mailchimp - email marketing made easy and fun" aria-label="Subscribe"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
        <!--Additional info and links-->
            </div>
            <div class="col-lg-2 col-md-3 ms-2">
                <h3 class="text-decoration-underline mt-5">Info</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'ourstory' %}" aria-label="View about page">Our Story</a></li>
                    <li><a href="{% url 'faq' %}" aria-label="View frequently asked questions">FAQs</a></li>
                    <li><a href="{% url 'privacypolicy' %}" aria-label="View privacy page">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3">
                <h3 class="text-decoration-underline mt-5">Contact</h3>
                <ul class="list-unstyled">
                    <li class="fw-bold">Phone:</li>
                    <li>012 34 59 903</li>
                    <li class="fw-bold">Email:</li>
                    <li>info.bombastic.baths@gmail.com</li>
                </ul>
            </div>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/profile.php?id=61558725733838" aria-label="View our Facebook page (opens in a new tab)" rel=noopener target="_blank"><i class="fa-brands fa-facebook fa-2xl p-3"></i></a>
                <a href="https://www.instagram.com/bathsbombastic/" aria-label="View our Instagram page (opens in a new tab)" rel=noopener target="_blank"><i class="fa-brands fa-instagram fa-2xl p-3"></i></a>
                <a href="https://www.tiktok.com/@bombastic_baths" aria-label="View our TikTok page (opens in a new tab)" rel=noopener target="_blank"><i class="fa-brands fa-tiktok fa-2xl p-3"></i></a>
            </div>
        </div>
    </div>
</footer>

{% block postloadjs %}
<!--Mailchimp JavaScript-->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function($) {
        window.fnames = new Array(); 
        window.ftypes = new Array();
        fnames[0]='EMAIL';ftypes[0]='email';
        fnames[1]='FNAME';ftypes[1]='text';
        fnames[2]='LNAME';ftypes[2]='text';
        fnames[3]='ADDRESS';ftypes[3]='address';
        fnames[4]='PHONE';ftypes[4]='phone';
        fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}