{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- products.html content starts here -->
<header class="bg-pink py-2">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="text-center">
            <h2 class="fw-normal mb-0 mt-4">All Products</h2>
        </div>
    </div>
</header>

<!-- Product sort -->
<div class="container">
    <div class="row mx-2">
        <div class="col-4">
            <p class="text-muted mt-3">
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
        <div class="col-8 mt-2 d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-outline-dark pe-5" type="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    Sort by...
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">
                            Price (low to high)</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">
                            Price (high to low)</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">
                            Rating (low to high)</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">
                            Rating (high to low)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Products displaying -->
<section class="py-5">
    <div class="container mt-4">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
                <div class="col mb-5 product-section">
                    <div class="card h-100">
                        <i class="fa-regular fa-heart fa-2xl p-4"></i>
                        <a href="{% url 'product-details' product.slug %}">
                            {% if product.image %}
                               <!-- <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"> -->
                            {% else %}
                                <img class="card-img-top" src="{% static 'images/default_image.png' %}" alt="{{product.name}}">
                            {% endif %}
                        </a>
                        <div class="p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                £{{ product.price }}
                            </div>
                        </div>
                        <div class="p-4 bg-light d-flex justify-content-center">
                            <a href="{% url 'product-details' product.slug %}"><button class="shopnow-btn">More Info</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- products.html content ends here -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}