{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- products.html content starts here -->
<header class="bg-pink py-2">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="text-center">
        {% if current_categories %}
            {% for category in current_categories %}
                <h2 class="fw-normal mb-0 mt-4">{{ category.friendly_name }}</h2>
            {% endfor %}
        {% else %}
            <h2 class="fw-normal mb-0 mt-4">All Products</h2>
        {% endif %}
        </div>
    </div>
</header>

<!-- Product sort -->
<div class="container">
    <div class="row mx-2">
        <div class="col-4">
            <p class="mt-3">
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
        <div class="col-8 mt-2 d-flex justify-content-end">
            <select id="sort-selector" class="sort-btn px-3">
                <option class="pb-3" value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}> Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            </select>
        </div>
    </div>
</div>
<!-- Products displaying -->
<section class="py-5">
    <div class="container mt-4">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
                <div class="col mb-5 product-section">
                    <div class="card h-100">
                        <!-- Wishlist Icon -->
                        {% if product in wishlist.products.all %}
                        <a href="{% url 'remove_from_wishlist' product.slug %}" aria-label="Remove product from Wishlist">
                            <div><i class="fa-solid fa-heart fa-xl"></i></div>
                        </a>
                        {% else %}
                        <a href="{% url 'add_to_wishlist' product.slug %}" aria-label="Add product to Wishlist">
                            <div><i class="fa-regular fa-heart fa-xl"></i></div>
                        </a>
                        {% endif %}
                        <a href="{% url 'product-details' product.slug %}">
                            {% if product.image %}
                               <!-- <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"> -->
                            {% else %}
                                <img class="card-img-top" src="{% static 'images/default_image.png' %}" alt="{{product.name}}">
                            {% endif %}
                        </a>
                        <div class="p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                {% include "products/includes/product_rating.html" %}
                                <p>£{{ product.price }}</p>
                            </div>
                        </div>
                        <div class="p-4 bg-light d-flex justify-content-center">
                            <a href="{% url 'product-details' product.slug %}"><button class="pink-white-btn">More Info</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- products.html content ends here -->
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}